* {
  margin: 0;
  padding: 0;
}

.top {
  /* background-color: rgb(184, 236, 206); */
  background-image: url(/images/top-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  height: 20vh;
  flex-direction: column-reverse;
  justify-items: space-evenly;
  align-items: center;
}
.tags {
  display: inline-block;
}
.tags b {
  height: 1.5rem;
  width: 8rem;
  font-size: 1.75rem;
  text-align: center;
  padding: 0.125rem 0.5rem 0.625rem;
  margin: 0.125rem 0.25rem 0.625rem;
  display: inline-block;
  position: relative;
  color: rgb(75, 245, 191);
  border-top: 0.125rem solid transparent;
  border-bottom: 0.125rem solid transparent;
  transition: all 0.5s ease;
}
.tags b:hover {
  border-top-color:rgb(243, 104, 83);
  border-bottom-color:rgb(75, 245, 174);
  color: rgb(67, 2, 14);
}

.main {
  background-color: rgb(215, 233, 246);
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 14rem;
}
.obj {
  background-color: rgb(55, 107, 101);
  height: 80%;
  width: 80%;
  border: 0.25rem solid rgb(235, 241, 238);
  display: inline-block;
  border-radius: 0.5rem;
  margin: 5% 10% 8%;
}

.bottom {
  background-color: rgb(111, 145, 126);
  height: 20vh; 
}

/*
greatest colours of all time 

rgb(67, 2, 14) // beautiful dark red
rgb(75, 245, 174) // light cyan
rgb(243, 104, 83) // light red
*/